#c0 {
    background-color: #51E0FF;
}

#c1 {
    background-color: #65ADF0;
}

#c2 {
    background-color: #0091FB;
}

#c3 {
    background-color: #0061D3;
}

#c4 {
    background-color: #092792;
}

#c5 {
    background-color: #020074;
}