#c0 {
    background-color: #BAF48B;
}

#c1 {
    background-color: #42E708;
}

#c2 {
    background-color: #93D91F;
}

#c3 {
    background-color: #00BF13;
}

#c4 {
    background-color: #20921E;
}

#c5 {
    background-color: #024E00;
}