#c0 {
    background-color: #FFBC8B;
}

#c1 {
    background-color: #FEA96C;
}

#c2 {
    background-color: #F28B42;
}

#c3 {
    background-color: #FF6A00;
}

#c4 {
    background-color: #D17203;
}

#c5 {
    background-color: #AB5C00;
} 