#c0 {
    background-color: #FC7CFF;
}

#c1 {
    background-color: #C981E3;
}

#c2 {
    background-color: #BE10FF;
}

#c3 {
    background-color: #993DBB;
}

#c4 {
    background-color: #5F2A95;
}

#c5 {
    background-color: #4900A6;
}