#c0 {
    background-color: #F4787E;
}

#c1 {
    background-color: #FB444F;
}

#c2 {
    background-color: #EF152C;
}

#c3 {
    background-color: #FE3B1F;
}

#c4 {
    background-color: #A10008;
}

#c5 {
    background-color: #6F0006;
}