* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #302E2E;
}

h1, h2, h3, h4, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 5rem;
}

h2 { 
    font-size: 3rem;
}

h3 { 
    font-size: 2.25rem;
}

h4 { 
    font-size: 1.125rem;
}

p { 
    font-size: 1rem;
}

p, label, button {
    font-family: 'Encode Sans Expanded', sans-serif; 
}

/* Navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    /* background-color: lightgray; */
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav a {
    font-size: 2em;
    color: white;
}

nav div {
    margin: 1em 0.5em;
    padding: 2em 1em;
}

#myLinks {
    display: none;
    position: absolute;
    top: 3em;
    right: 0px;
    font-size: 2em;
}

#myLinks a {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
    margin-right: 1.5rem;
    color: white;
    margin-bottom: 1em;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* text overlay */
.content {
    position: absolute;
    left: 20vw;
    top: 40vh;
    visibility: hidden;
}

.content h1 {
    font-size: 2.25rem;
}


/* drawing canvas */

#drawingComp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

#canvas {
    border-radius: 8px 0px 0px 8px;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    height: 650px;
    /* margin: 30px; */
}

.controls div {
    display: flex;
    flex-direction: column;
    border-radius: 0px 8px 8px 0px;
    background-color: lightgray;
}


/* point sizes */
#sizeFive, #sizeFifteen, #sizeThirty {
    display: inline-block;
    margin: auto;
    /* border: 1px solid black; */
    border: none;
    border-radius: 100%;
    font-size: auto;
    color: white;
    background-color: #595753;
}
#sizeFive {
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-bottom: 0px;
}

#sizeFifteen {
    width: 25px;
    height: 25px;
    margin: 5px;
}

#sizeThirty, #c0, #c1, #c2, #c3, #c4, #c5 {
    width: 35px;
    height: 35px;
}

#sizeFiveLabel, #sizeFifteenLabel, #sizeThirtyLabel, #clearLabel, #blackColourLabel, #whiteColourLabel, #c0Label, #c1Label, #c2Label, #c3Label, #c4Label, #c5Label {
    margin: 10px;
}

/* Clear, pencil, eraser options */
#clear {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    background-color: #e3242b;
}

#black, #white {
    display: inline-block;
    /* width: 30px;
    height: 30px; */
    /* margin: auto; */
    /* border: 1px solid black; */
    /* font-size: 20px; */
    /* color: white; */
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#black img, #white img {
    width: 60px;
}

#blackColourLabel, #whiteColourLabel {
    margin-left: 0px;
}

/* #white {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    background-color: white;
} */

/* colour settings */
#c0, #c1, #c2, #c3, #c4, #c5 {
    border: none;
    border-radius: 100%;
} 

/* CTA fields */
#my-form {
    visibility: hidden;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
}

/* temporary widths */
input {
    margin-top: 1vh;
    width: 10vw;
    margin-right: 1vw;
}

textarea {
    margin-top: 1vh;
    width: 21vw;
}


.row {
    display: flex;
    flex-direction: row;
}

/* CTA Buttons */
.buttons {
    display: flex; 
    justify-content: flex-end;
}

.buttons button {
    padding: .5em 2.5em;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 36px;
    margin-top: 2em;
    margin-left: 1em;
    /* outline: none; */
    height: fit-content;
}

#previous {
    background-color: rgba(0, 0, 0, 0);
    border: 1px white solid;
}

#next {
    background-color: #3A00F3;
    border: none;
    z-index: 50;
}