* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #302E2E;
}

h1, h2, h3, h4, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 5rem;
}

h2 { 
    font-size: 3rem;
}

h3 { 
    font-size: 2.25rem;
}

h4 { 
    font-size: 1.125rem;
}

p { 
    font-size: 1rem;
}

p {
    font-family: 'Encode Sans Expanded', sans-serif; 
}

a {
    text-decoration: none;
}
/* Navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    /* background-color: lightgray; */
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav a {
    font-size: 2em;
    color: white;
}

nav div {
    margin: 1em 0.5em;
    padding: 2em 1em;
}

#myLinks {
    display: none;
    position: absolute;
    top: 3em;
    right: 0px;
    font-size: 2em;
}

#myLinks a {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
    margin-right: 1.5rem;
    color: white;
    margin-bottom: 1em;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


/* header */
h1 {
    color: white;
    text-align: center;
    margin-top: 45vh;
    /* position: absolute;
    display: block;
    top: 45vh; */
    z-index: 100;
}

/* colour orbs */
.orb {
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
}

.orb:first-child {
    text-decoration: none;
    color: white;
    font-style: italic;
    text-align: center;
}

.orb p {
    pointer-events: none;
}

.background {
    z-index: 1;
    /* adjusting this to a lower value works better for optimization */
    filter: blur(150px);
}

#green {
    width: 255px;
    height: 255px;
    position: absolute;
    top: 22vh;
    left: 5vw;
    background: linear-gradient(138.84deg, #93D91F 8.86%, rgba(208, 244, 147, 0.3) 107.05%, rgba(208, 244, 147, 0.3) 107.05%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

#green:first-child {
    padding-top: 120px;
}

#backgroundGreen {
    position: absolute;
    width: 308px;
    height: 308px;
    top: 20vh;
    left: 4vw;
    background: #93D91F;
}

#purple {
    position: absolute;
    width: 381px;
    height: 381px;
    left: 37vw;
    top: 5vh;
    background: linear-gradient(142.14deg, #C028B9 1.57%, rgba(242, 200, 240, 0.4) 89.35%);
    box-shadow: 0px 7px 20px -1px rgba(0, 0, 0, 0.25);
}

#purple:first-child {
    padding-top: 190px;
}

#backgroundPurple {
    position: absolute;
    width: 431px;
    height: 431px;
    left: 36vw;
    top: 4vh;
    background: #C028B9;
}

#red {
    position: absolute;
    width: 271px;
    height: 271px;
    right: 10vw;
    top: 13vh;
    background: linear-gradient(141.59deg, #FF2000 12.69%, rgba(241, 170, 160, 0.2) 108.23%);
    box-shadow: 0px 7px 20px -1px rgba(0, 0, 0, 0.25);
}

#red:first-child {
    padding-top: 130px;
}

#backgroundRed {
    position: absolute;
    width: 266px;
    height: 266px;
    right: 10vw;
    top: 13vh;
    background: #FE3B1F;
}

#blue {
    position: absolute;
    width: 327px;
    height: 327px;
    left: 27vw;
    bottom: 8vh;
    background: linear-gradient(143.33deg, #3296D9 12.32%, rgba(179, 208, 227, 0.4) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#blue:first-child {
    padding-top: 160px;
}

#backgroundBlue {
    position: absolute;
    width: 362px;
    height: 362px;
    left: 26vw;
    bottom: 8vh;
    background: #3296D9;
}

#yellow {
    position: absolute;
    width: 247px;
    height: 247px;
    right: 35vw;
    bottom: 18vh;
    background: linear-gradient(142.26deg, #FCE200 14.36%, rgba(255, 246, 165, 0.4) 100.56%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#yellow:first-child {
    padding-top: 115px;
}

#backgroundYellow {
    position: absolute;
    width: 266px;
    height: 266px;
    right: 34vw;
    bottom: 17vh;
    background: #FCE200;
}

#orange {
    position: absolute;
    width: 177px;
    height: 177px;
    right: 12vw;
    bottom: 8vh;
    background: linear-gradient(142.44deg, #FF6A00 17.98%, rgba(255, 192, 147, 0.4) 113.33%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#orange:first-child {
    padding-top: 80px;
}

#backgroundOrange {
    position: absolute;
    width: 266px;
    height: 266px;
    right: 11vw;
    bottom: 7vh;
    background: #FF6A00;
}

@media only screen and (max-width:1440px) {
    #green, #backgroundGreen {
        top: 14.5625em;
        left: 4.25em;
    }

    #purple, #backgroundPurple {
        left: 27.25em;
        top: 1.625em;
    }

    #red, #backgroundRed {
        right: 8.875em;
        top: 7.5625em;
    }

    #blue, #backgroundBlue {
        left: 17.0625em;
        bottom: 3.1875em;
    }

    #yellow, #backgroundYellow {
        right: 28.625em;
        bottom: 11.9375em;
    }

    #orange, #backgroundOrange {
        right: 10.3125em;
        bottom: 3.1875em;
    }
}