#c0 {
    background-color: #F6EC8D;
}

#c1 {
    background-color: #F8E64B;
}

#c2 {
    background-color: #EEF21B;
}

#c3 {
    background-color: #FCE200;
}

#c4 {
    background-color: #DED503;
}

#c5 {
    background-color: #D6C000;
}