<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width. initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Poppins:wght@500&display=swap" rel="stylesheet">
        <title>Viewer - Yellow</title>
        <link rel="stylesheet" href="../assets/css/viewGallery.css">
        <script src="https://kit.fontawesome.com/db490c860c.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            body {
                background: radial-gradient(circle at center, #FCE200, #302E2E 80%);
                height: 100%;
                margin: 0;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>

        <!-- navigation -->
        <nav>
            <div>
                <a href="../index.html"><img src="../assets/images/tbd-logo-minim.png" alt="tbd logo"></a>
            </div>
            <div>
                <a href="javascript:void(0);" class="icon" onclick="navBar()"><i class="fas fa-bars"></i></a>
            </div>
        </nav>

        <div id="myLinks">
            <a href="../index.html">Home</a>
            <a href="../choice.html">Participate</a>
            <a href="../view.html">View Collection</a>
            <a href="mailto:tbdcollective@gmail.com">Contact</a>
        </div>

        <!-- Gallery section -->
        <div class="container">
            <div class="row">
                <img src="../assets/images/view/yellow/01.png" alt="gallery image">
                <img src="../assets/images/view/yellow/02.png" alt="gallery image">
            </div>
            <div class="row">
                <img src="../assets/images/view/yellow/03.png" alt="gallery image">
                <img src="../assets/images/view/yellow/04.png" alt="gallery image">
                <img src="../assets/images/view/yellow/05.png" alt="gallery image">
            </div>
            <div class="row">
                <img src="../assets/images/view/yellow/06.png" alt="gallery image">
                <img src="../assets/images/view/yellow/07.png" alt="gallery image">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
            </div>
            <div class="row">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
            </div>
            <div class="row">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
                <img style="visibility: hidden;" src="../assets/images/background2.jpg" alt="gallery image">
            </div>
        </div>
        

        <audio src="../assets/audio/Yellow.mp3" autoplay loop></audio>
        <script src="../assets/js/choice.js"></script>
    </body>
</html>